{% comment %}
  Renders a popup-newsletter-v6

  Accepts:
  - subtitle: {String} subtitle of the popup-newsletter
  - title: {String} Subsubtitle of the popup-newsletter (Optional)
  - placeholder: {String} Placeholder for the input signup form (Optional)
  - button_label: {String} Label for the button
  - img_src: {String} Image for the popup-newsletter

  Usage:
  {% render 'popup-newsletter-v6',
    subtitle: 'SIGNUP FOR EMAILS',
    title: 'Get 20% discount shipped to your inbox',
    placeholder: 'Enter Your Email ...',
    button_label: 'Subscribe',
    img_src: '{{img_src}}'
   %}
{% endcomment %}

{% assign subtitle = settings.popup_newsletter_subtitle %}
{% assign title = settings.popup_newsletter_title %}
{% assign placeholder = 'newsletter.email' | t %}
{% assign button_text = 'newsletter.button_label' | t %}
{% assign image = settings.popup_newsletter_image %}

<div class='popup-newsletter-v6'>
  <div class='popup-newsletter-v6__close'>
    <xo-modal-trigger class='xo-modal-content-style1__close{% if close_class %} {{ close_class }}{% endif %}' aria-label='{{ 'accessibility.close' | t }}'>
      {% render 'icon', name: 'close2', icon_size: '15' %}
    </xo-modal-trigger>
  </div>
  <div class='popup-newsletter-v6__overlay'>
    {%- render 'image', image: image -%}
  </div>
  <div class='popup-newsletter-v6__container'>
    <div class='popup-newsletter-v6__align'>
      {%- if subtitle != blank -%}
        <div class='popup-newsletter-v6__subtitle'>
          {{ subtitle }}
        </div>
      {%- endif -%}
      {%- if title != blank -%}
        <h1 class='popup-newsletter-v6__title'>
          {{ title }}
        </h1>
      {%- endif -%}
      <div class='popup-newsletter-v6__signup'>
        {%- form 'customer', id: 'ContactFooter' -%}
          <input type='hidden' name='contact[tags]' value='newsletter'>
          <div class='popup-newsletter-v6__form'>
            {% capture attr %}
                  aria-required='true'
                  autocorrect='off'
                  {% if form.errors %}
                  autofocus
                  aria-invalid='true'
                  aria-describedby='ContactFooter-error'
                  {% elsif form.posted_successfully? %}
                  aria-describedby='ContactFooter-success'
                  {% endif %}
                  required
                {% endcapture -%}
            {% render 'field-input', type: 'email', name: 'contact[email]', value: value, label: placeholder, attr: attr %}
            {% render 'button', type: 'submit', text: button_text, style: 'secondary', mode: settings.popup_newsletter_button_mode, size: 'md', padding: 3 %}
          </div>
          {% render 'newsletter-form-message', form: form %}
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
