

<div class='banner-v6'>
  <div {% render 'section-attr' %}>
    <xo-container {% render 'section-layout' %}>
      <section class='banner-v6__embla'>
        <div class='banner-v6__embla__viewport'>
          <div class='banner-v6__embla__container'>
            {%- for block in section.blocks -%}
              <xo-grid style='--xs: 1; --md: 2;' class='banner-v6__embla__slide'>
                <div class='banner-v6__embla__slide__image'>
                  {%- render 'image', image: block.settings.image -%}
                </div>
                <div class='banner-v6__embla__slide__content'>
                  <div class='banner-v6__embla__slide__content-title'>{{ block.settings.title }}</div>
                  <div class='banner-v6__embla__slide__content-desc'>{{ block.settings.desc }}</div>
                  <div class='banner-v6__embla__slide__content-btn'>
                    {% render 'button',
                      text: block.settings.button_text,
                      link: block.settings.button_link,
                      mode: block.settings.button_mode,
                      style: block.settings.button_style,
                      size: block.settings.button_size,
                      radius: block.settings.button_radius,
                      padding: block.settings.button_padding
                    %}
                  </div>
                </div>
              </xo-grid>
            {%- endfor -%}
          </div>
        </div>

        <div class='banner-v6__embla__controls'>
          <div class='banner-v6__embla__buttons'>
            <button class='banner-v6__embla__button banner-v6__embla__button--prev' type='button'>
              <svg class='banner-v6__embla__button__svg' viewBox='0 0 532 532'>
                <path
                  fill="currentColor"
                  d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
                ></path>
              </svg>
            </button>

            <button class='banner-v6__embla__button banner-v6__embla__button--next' type='button'>
              <svg class='banner-v6__embla__button__svg' viewBox='0 0 532 532'>
                <path
                  fill="currentColor"
                  d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
                ></path>
              </svg>
            </button>
          </div>

          <div class='banner-v6__embla__dots'></div>
        </div>
      </section>
    </xo-container>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.banner_v6.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "default": "box",
      "options": [
        {
          "value": "box",
          "label": "t:sections.all.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.all.width.options__2.label"
        },
        {
          "value": "fullwidth",
          "label": "t:sections.all.width.options__3.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "fullwidth_margin",
      "label": "t:sections.all.fullwidth_margin.label",
      "default": 0,
      "visible_if": "{{ section.settings.width == 'fullwidth' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "t:sections.all.background_type.label",
      "options": [
        {
          "value": "color",
          "label": "t:sections.all.background_type.option__1.label"
        },
        {
          "value": "gradient",
          "label": "t:sections.all.background_type.option__2.label"
        },
        {
          "value": "image",
          "label": "t:sections.all.background_type.option__3.label"
        },
        {
          "value": "video",
          "label": "t:sections.all.background_type.option__4.label"
        }
      ],
      "default": "color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.background_color.label",
      "alpha": true,
      "visible_if": "{{ section.settings.background_type == 'color' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.background_gradient.label",
      "visible_if": "{{ section.settings.background_type == 'gradient' }}"
    },
    {
      "type": "number",
      "id": "background_margin",
      "label": "t:sections.all.background_margin.label",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.banner_v6.blocks.name",
      "type": "banner-v6",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.banner_v6.blocks.image.label",
          "info": "t:sections.banner_v6.blocks.image.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.banner_v6.blocks.title.label",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "desc",
          "label": "t:sections.banner_v6.blocks.desc.label",
          "default": "Description"
        },
        {
          "type": "header",
          "content": "t:sections.all.button_heading.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.all.button_text.label",
          "default": "ALL PRODUCTS"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_mode",
          "label": "t:sections.all.button_mode.label",
          "options": [
            {
              "value": "light",
              "label": "t:sections.all.button_mode.option__1.label"
            },
            {
              "value": "dark",
              "label": "t:sections.all.button_mode.option__2.label"
            },
            {
              "value": "accent",
              "label": "t:sections.all.button_mode.option__3.label"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button_style.option__3.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option__4.label"
            }
          ],
          "default": "secondary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.all.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button_size.option__0.label"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button_size.option__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.all.button_size.option__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button_size.option__3.label"
            }
          ],
          "default": "sm"
        },
        {
          "type": "range",
          "id": "button_radius",
          "label": "t:sections.all.button_radius.label",
          "max": 4,
          "min": 0,
          "step": 0.2,
          "unit": "rem",
          "default": 0.8
        },
        {
          "type": "range",
          "id": "button_padding",
          "label": "t:sections.all.button_padding.label",
          "info": "t:sections.all.button_padding.info",
          "max": 10,
          "min": 0,
          "step": 0.2,
          "unit": "rem",
          "default": 1.4
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner_v6.presets.name"
    }
  ]
}
{% endschema %}
