

{% comment %} Add padding bottom for toolbar mobile {% endcomment %}
{% if template != 'product' %}
  {% assign pb_mobile = '--pb-mobile: 53px' %}
{% else %}
  {% assign pb_mobile = '' %}
{% endif %}

<footer {% render 'section-attr', style: pb_mobile %}>
  <div class='footer-v12'>
    {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social and has_social_icons == true or section.settings.enable_follow_on_shop -%}
      {%- unless only_empty_brand -%}
        <div class='footer-v12__content-top'>
          <xo-container {% render 'section-layout' %}>
            <xo-grid style='--xo-grid-row-gap: 0rem'>
              {% for block in section.blocks %}
                {% if block.type == 'logo' %}
                  <div class='footer-v12__grid' style='--xs: 12; --sm: 12; --md:12; --lg: 3'>
                    <div class='footer-v12__block'>
                      {%- case block.type -%}
                          {% assign col = 0 %}
                        {%- when 'logo' -%}
                          <div class='footer-v12__block-logo'>
                            <div class='footer-v12__block-logo-phone'>
                              {% if block.settings.image != blank %}
                                {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                                <div
                                  class='footer-v12__block-logo-image'
                                  style='max-width: min(100%, {{ block.settings.image_width }}px);'
                                >
                                  {% render 'image', image: block.settings.image %}
                                </div>
                              {% endif %}
                            </div>
                            <div class='footer-v12__block-text'>
                              {{ block.settings.text }}
                            </div>
                            {%- if block.settings.newsletter_enable -%}
                              <div class='footer-v12__block-input'>
                                <xo-animate xo-cascade>
                                  {%- form 'customer', id: 'ContactFooter', class: 'footer-v12__block-form' -%}
                                    <input type='hidden' name='contact[tags]' value='newsletter'>
                                    <div>
                                      <div class='footer-v12__field-input'>
                                        {% assign value = form.email %}
                                        {% assign label = 'newsletter.label' | t %}
                                        {% capture attr %}
                                                  aria-required='true'
                                                  autocorrect='off'
                                                  {% if form.errors %}
                                                    autofocus
                                                    aria-invalid='true'
                                                    aria-describedby='ContactFooter-error'
                                                  {% elsif form.posted_successfully? %}
                                                    aria-describedby='ContactFooter-success'
                                                  {% endif %}
                                                  required
                                                {% endcapture %}
                                        {% render 'field-input', type: 'email', name: 'contact[email]',| placeholder: 'Your email address...', value: value, label: label, attr: attr %}
                                        <button
                                          type='submit'
                                          class='footer-v12__field-button'
                                          name='commit'
                                          id='Subscribe'
                                          aria-label='{{ 'newsletter.button_label' | t }}'
                                        >
                                          <div class='footer-v12__button-email'>
                                            {% render 'icon', class: 'footer-v12__icon-before', name: 'email', icon_size: '16', color: '#FFF' %}
                                            {% render 'icon', class: 'footer-v12__icon-after', name: 'email', icon_size: '16', color: '#FFF' %}
                                          </div>
                                        </button>
                                      </div>

                                      {%- if form.errors -%}
                                        <small id='ContactFooter-error' class='newsletter-form__message newsletter-form__message--error'>
                                          {%- render 'icon', name: 'error' -%}
                                          {{- form.errors.translated_fields.email | capitalize }}
                                          {{ form.errors.messages.email -}}
                                        </small>
                                      {%- endif -%}
                                      {%- if form.posted_successfully? -%}
                                        <h3
                                          class='newsletter-form__message newsletter-form__message--success'
                                          id='ContactFooter-success'
                                          tabindex='-1'
                                          autofocus
                                        >
                                          {% render 'icon', name: 'success' -%}
                                          {{- 'newsletter.success' | t }}
                                        </h3>
                                      {%- endif -%}
                                    </div>
                                  {%- endform -%}
                                </xo-animate>
                              </div>
                            {%- endif -%}
                            {%- if block.settings.show_social -%}
                              <xo-animate xo-cascade>
                                <ul role='list' class='footer-v12__social'>
                                  {%- if block.settings.icon_link1 != blank and block.settings.item_icon1 != blank -%}
                                    <li>
                                      <a href='{{block.settings.icon_link1}}' class='footer-v12__social-link' target='_blank'>{{ block.settings.item_icon1 }}</a>
                                    </li>
                                  {%- endif -%}
                                  {%- if block.settings.icon_link2 != blank and block.settings.item_icon2 != blank -%}
                                    <li>
                                      <a href='{{block.settings.icon_link2}}' class='footer-v12__social-link' target='_blank'>{{ block.settings.item_icon2 }}</a>
                                    </li>
                                  {%- endif -%}
                                  {%- if block.settings.icon_link3 != blank and block.settings.item_icon3 != blank -%}
                                    <li>
                                      <a href='{{block.settings.icon_link3}}' class='footer-v12__social-link' target='_blank'>{{ block.settings.item_icon3 }}</a>
                                    </li>
                                  {%- endif -%}
                                  {%- if block.settings.icon_link4 != blank and block.settings.item_icon4 != blank -%}
                                    <li>
                                      <a href='{{block.settings.icon_link4}}' class='footer-v12__social-link' target='_blank'>{{ block.settings.item_icon4 }}</a>
                                    </li>
                                  {%- endif -%}
                                </ul>
                              </xo-animate>
                            {%- endif -%}
                          </div>
                      {%- endcase -%}
                    </div>
                  </div>
                {% elsif block.type == 'text' %}
                  <div class='footer-v12__grid' style='--xs: 12; --sm: 12; --md:4 ;--lg: 3'>
                    <div class='footer-v12__block'>
                      {%- if block.settings.heading != blank -%}
                        <h2 class='footer-v12__block-heading'>{{- block.settings.heading -}}</h2>
                      {%- endif -%}
                      {%- case block.type -%}
                          {% assign col = 0 %}
                        {%- when 'text' -%}
                          <div class='footer-v12__block-detail-content rte'>
                            {{ block.settings.subtext }}
                          </div>
                      {%- endcase -%}
                    </div>
                  </div>
                {% else %}
                  <div class='footer-v12__grid' style='--xs: 12; --sm: 12; --md:4;--lg: 3'>
                    <div class='footer-v12__block'>
                      {%- if block.settings.heading != blank -%}
                        <h2 class='footer-v12__block-heading'>{{- block.settings.heading -}}</h2>
                      {%- endif -%}
                      {%- case block.type -%}
                          {% assign col = 0 %}
                        {%- when 'link_list' -%}
                          {%- if block.settings.menu != blank -%}
                            <ul role='list' class='footer-v12__block-list'>
                              {%- for link in block.settings.menu.links -%}
                                <li class='footer-v12__block-list-item'>
                                  <a
                                    href='{{ link.url }}'
                                  >
                                    {{ link.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                      {%- endcase -%}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </xo-grid>
          </xo-container>
        </div>
      {%- endunless -%}
    {%- endif -%}
    <xo-container {% render 'section-layout' %}>
      <div class='footer-v12__content-bottom'>
        <xo-grid class='footer-v12__bottom'>
          <div class='footer-v12__copyright' style='--xs: 12; --md: 6; --lg: 6;'>
            {% if section.settings.copyright != blank %}
              {{- section.settings.copyright -}}
            {% else %}
              <small class='footer-v12__copyright-content'>&copy; Copyright {{ 'now' | date: '%Y' }} | {{ shop.name | link_to: routes.root_url -}}</small>
              <small class='footer-v12__copyright-content'> By <a class='footer-v12__copyright-shopilaunch' href='https://shopilaunch.com/'> ShopiLaunch.</a> </small>
              <small class='footer-v12__copyright-content footer-v12__copyright-content--black'>{{ powered_by_link }}.</small>
            {% endif %}
          </div>
          <div class='footer-v12__copyright-payment' style='--xs: 12; --md: 6; --lg: 6;'>
            {%- if section.settings.image_payment != blank -%}
              {% render 'image', image: section.settings.image_payment %}
            {%- endif -%}
          </div>
        </xo-grid>
      </div>
    </xo-container>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer_v1.name",
  "class": "section-footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer_v1.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer_v1.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer_v1.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer_v1.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer_v1.blocks.text.settings.heading.label"
        },
        {
          "type": "text",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer_v1.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "logo",
      "name": "t:sections.footer_v1.blocks.logo.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer_v1.blocks.logo.settings.image.label",
          "info": "Support jpg, jpeg, png, svg"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "t:sections.footer_v1.blocks.logo.settings.image_width.label",
          "default": 80
        },
        {
          "type": "text",
          "id": "text",
          "default": "Praesent nec nisl a purus blandit viverra. Pellentesque habitant morbi tristique senectuse.",
          "label": "t:sections.footer_v1.blocks.logo.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "newsletter_enable",
          "default": true,
          "label": "t:sections.footer_v1.blocks.logo.settings.newsletter_enable.label"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer_v1.blocks.logo.settings.show_social.label"
        },
        {
          "type": "html",
          "id": "item_icon1",
          "label": "t:sections.footer_v1.blocks.logo.settings.item_icon1.label",
          "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"1em\" viewBox=\"0 0 512 512\"><path d=\"M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z\"></path></svg>"
        },
        {
          "type": "url",
          "id": "icon_link1",
          "label": "t:sections.footer_v1.blocks.logo.settings.icon_link1.label",
          "default": "/collections/all"
        },
        {
          "type": "html",
          "id": "item_icon2",
          "label": "t:sections.footer_v1.blocks.logo.settings.item_icon2.label",
          "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"1em\" viewbox=\"0 0 512 512\"><path d=\"M256 8C119.252 8 8 119.252 8 256s111.252 248 248 248 248-111.252 248-248S392.748 8 256 8zm163.97 114.366c29.503 36.046 47.369 81.957 47.835 131.955-6.984-1.477-77.018-15.682-147.502-6.818-5.752-14.041-11.181-26.393-18.617-41.614 78.321-31.977 113.818-77.482 118.284-83.523zM396.421 97.87c-3.81 5.427-35.697 48.286-111.021 76.519-34.712-63.776-73.185-116.168-79.04-124.008 67.176-16.193 137.966 1.27 190.061 47.489zm-230.48-33.25c5.585 7.659 43.438 60.116 78.537 122.509-99.087 26.313-186.36 25.934-195.834 25.809C62.38 147.205 106.678 92.573 165.941 64.62zM44.17 256.323c0-2.166.043-4.322.108-6.473 9.268.19 111.92 1.513 217.706-30.146 6.064 11.868 11.857 23.915 17.174 35.949-76.599 21.575-146.194 83.527-180.531 142.306C64.794 360.405 44.17 310.73 44.17 256.323zm81.807 167.113c22.127-45.233 82.178-103.622 167.579-132.756 29.74 77.283 42.039 142.053 45.189 160.638-68.112 29.013-150.015 21.053-212.768-27.882zm248.38 8.489c-2.171-12.886-13.446-74.897-41.152-151.033 66.38-10.626 124.7 6.768 131.947 9.055-9.442 58.941-43.273 109.844-90.795 141.978z\"></path></svg>"
        },
        {
          "type": "url",
          "id": "icon_link2",
          "label": "t:sections.footer_v1.blocks.logo.settings.icon_link2.label",
          "default": "/collections/all"
        },
        {
          "type": "html",
          "id": "item_icon3",
          "label": "t:sections.footer_v1.blocks.logo.settings.item_icon3.label",
          "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"1em\" viewbox=\"0 0 576 512\"><path d=\"M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z\"></path></svg>"
        },
        {
          "type": "url",
          "id": "icon_link3",
          "label": "t:sections.footer_v1.blocks.logo.settings.icon_link3.label",
          "default": "/collections/all"
        },
        {
          "type": "html",
          "id": "item_icon4",
          "label": "t:sections.footer_v1.blocks.logo.settings.item_icon4.label",
          "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"1em\" viewbox=\"0 0 448 512\"><path d=\"M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z \"></path></svg>"
        },
        {
          "type": "url",
          "id": "icon_link4",
          "label": "t:sections.footer_v1.blocks.logo.settings.icon_link4.label",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "default": "box",
      "options": [
        {
          "value": "box",
          "label": "t:sections.all.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.all.width.options__2.label"
        },
        {
          "value": "fullwidth",
          "label": "t:sections.all.width.options__3.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "fullwidth_margin",
      "label": "t:sections.all.fullwidth_margin.label",
      "default": 0,
      "visible_if": "{{ section.settings.width == 'fullwidth' }}"
    },
    {
      "type": "liquid",
      "id": "copyright",
      "label": "t:sections.footer_v1.settings.copyright.label",
      "default": " © Copyright {{ 'now' | date: '%Y' }} | <a href='http://artora-store-newdemo.myshopify.com' rel='nofollow' target='_blank' class='footer-v12__theme-name'>Artora</a> By <a href='https://shopilaunch.com/' rel='nofollow' target='_blank' class='footer-v12__shop-name'> ShopiLaunch.</a><a href='https://shopify.pxf.io/9gPaY0' rel='nofollow' target='_blank' class='footer-v12__powered-shopify'> Powered by Shopify.</a>"
    },
    {
      "type": "image_picker",
      "id": "image_payment",
      "label": "t:sections.footer_v1.settings.image_payment.label",
      "info": "Support jpg, jpeg, png, svg"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "t:sections.all.background_type.label",
      "options": [
        {
          "value": "color",
          "label": "t:sections.all.background_type.option__1.label"
        },
        {
          "value": "gradient",
          "label": "t:sections.all.background_type.option__2.label"
        },
        {
          "value": "image",
          "label": "t:sections.all.background_type.option__3.label"
        },
        {
          "value": "video",
          "label": "t:sections.all.background_type.option__4.label"
        }
      ],
      "default": "color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.background_color.label",
      "alpha": true,
      "visible_if": "{{ section.settings.background_type == 'color' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.background_gradient.label",
      "visible_if": "{{ section.settings.background_type == 'gradient' }}"
    },
    {
      "type": "number",
      "id": "background_margin",
      "label": "t:sections.all.background_margin.label",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
